*
{margin:0;
padding:0;
box-sizing: border-box;}

.fl
{float:left;}

.fr
{float:right;}
.clr
{clear:both;}


body
{font-family:"calibri", sans-serif;

}


main
{overflow: hidden;}


.white
{color:white;
font-weight:300;}

.whitePara{color:white;
font-size:18px;}

.blueHdg
{
color:#6fc6bd;
font-weight:300;}

.bluePara
{color:#6fc6bd;
font-size:18px;}

figure
{margin:auto;}

.con
{ position: relative;
  background: rgb(111,198,189);
box-shadow:5px 0px 5px grey ;
  overflow: hidden;
}

.mgAuto
{margin:0 auto;}

.content
{width:90%;
margin:0 auto;
}

.con, .courses
{padding: 100px 0;
text-align: center;

}

.content article
{
max-width:640px;
margin:0 auto;

text-align:center;}

img
{max-width:100%;}


/******************Parallax******************/

.bgBox
{position:relative;
height:600px;
background-color: rgba(253,244,149,0.3);
background-image:url(../images/headerBg.png);
background-size: auto 725px;
background-position: top center;
background-attachment: fixed;
/*padding-top:20px;*/}

.logo
{height:666px;
width:100%;

position: absolute;
}
.darkLogos
{width:100%;
height:600px;
background-image:url(../images/middleLayer1.png);
background-size:auto 725px;
background-repeat: no-repeat;
background-position: top center;
position:absolute;}

.darkLogos2
{width:100%;
height:600px;
background-image:url(../images/middleLayer2.png);
background-size:auto 725px;
background-repeat: no-repeat;
background-position: top center;
position:absolute;}

/***************************Navigation**********************/

nav
{padding:20px;
float:left;
position: relative;
z-index: 1000;
width:15%;
}
/************************************************Navigation*******************************/
.dis
{width:69%;float:left;transform:translate(-200px,0);transition:transform 3s;}



.clNav
{transition:transform 3s;}

.navIcon
{transition:transform 3s;}
/************************************************End Navigation*******************************/

nav ul li {list-style: none;
  font-size:18px; 
  background: rgb(111,198,189);
  padding: 10px;
  width:100%;
  text-align: center;
border-bottom:2px solid white;}

ul li:last-child
{border:none;}
ul li a
{text-decoration: none;
color:white;}

ul li a:hover
{text-decoration: none;
color:white;}



.bgNav
{width:50px;

background:rgb(111,198,189);
font-size:30px;
cursor:pointer;
padding:10px;
}

.clNav
{width:50px;
 background: rgb(111,198,189);
padding:10px;

margin:0 auto;


}
.clButton{
border-bottom: 13px double black;
    border-top: 4px solid black;
    height: 22px;
    width: 30px;
cursor:pointer;

}
.togButton{
border-bottom: 13px double white;
    border-top: 4px solid white;
    content: "";
    height: 22px;
    width: 30px;
cursor:pointer;
}



.pdb
{padding-bottom:50px;}



.courses
{width:100%;
background-color: #fffbd2;

overflow: hidden;
position: relative;}

.courses h1
{color:#6fc6bd;}

.thumbnail
{background-color:#47A5AE;
padding-top:15px; 
margin-top:50px;}

.courseCon .cour
{position:relative;}

.courseCon .courses1
{ transform: translate(100px, 20px);
-webkit-transform: translate(100px, 20px);
-moz-transform: translate(100px, 20px);
-o-transform: translate(100px, 20px);
-ms-transform: translate(100px, 20px); }

.courseCon .courses2
{ z-index:5; }

.courseCon .courses3
{ transform: translate(-100px, 20px);
-webkit-transform: translate(100px, 20px);
-moz-transform: translate(100px, 20px);
-o-transform: translate(100px, 20px);
-ms-transform: translate(100px, 20px); }


.work figure {
    margin-bottom: 20px;
    position: relative;
    opacity: 0;
    transform: translateX(30px);
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    cursor: pointer; }
    .work figure.is-showing {
      opacity: 1;
      transform: translateX(0px); }
    .work figure img {
      display: block;
      transform: scale(1);
      transition: all 0.3s ease-in-out; }
    .work figure:hover figcaption {
      left: 0%; }
    .work figure:hover img {
      transform: scale(1.1); }
  .work figcaption {
    position: absolute;
    bottom: 10px;
    left: -100%;
    background: black;
    color: white;
    padding: 2px 8px;
    font-size: 11px;
    transition: all 0.3s ease-in-out; }

    .textFlo article {
  
    opacity: 0;
    transform: translateY(-30px);
    transition: all 0.4s ease-in-out;
   
  }
    .textFlo article.showing {
      opacity: 1;
      transform: translateY(0px); }



      .whyIc
      {width:100%;
        color:#6fc6bd;
        position: relative;
        padding:100px 0 ;
        background-color: rgba(253,244,149,0.3);}
        .corp
      {width:100%;
        color:#6fc6bd;
        position: relative;
        z-index:10;
        padding:100px 0 ;
        background-color: rgb(255,252,223);}

.testStu
{

margin: 0 auto;

padding-left:20px;

transform:translateY(500px);}

.callOut
{

margin:0 auto;

transform:translateX(-2000px);
}


.testimonial
{background:rgb(111,198,189);
position: relative;
padding-top:50px;
text-align: center;
}
.pdImg
{padding-top:40px;}




.conForm
{
padding: 100px 0;
float:left;
text-align:center;
background: rgb(111,198,189);
position:relative;
z-index:10;

transform:translateX(2000px);}

.conForm article
{width:50%;
margin:0 auto;}

.conMap
{float:right;
height:681.5px;
}


.fn
{width: 45%;
float:left;
margin:5% 0 0 5%;
padding:10px;
border-radius: 50px;
background:none;
border:2px solid #FFF;
}

.option, .ta
{width:95%;
  margin:5% 0 0 5%;
padding:10px;
border-radius: 50px;
background: rgb(111,198,189);
color:#fff;
border:2px solid #FFF;}

.ta
{padding-top:25px;}

::-webkit-input-placeholder {
   color: #fff;
}

:-moz-placeholder { /* Firefox 18- */
   color: #fff;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}

:-ms-input-placeholder {  
   color: #fff;  
}



.formArea
{width:80%;
margin:0 auto;
}


button
{background:none;
border:none;
margin-top:5%;

}

.mgr
{margin-right:5%;
}

.mgl
{margin-left:5%;}

button a{font-size: 25px;
font-family:"calibri", sans-serif;
color:white;
}

.pd
{padding-left:15px;
font-family:"calibri", sans-serif;}

button a:hover
{text-decoration: none;
color:rgb(75, 155,146);}

footer
{width:101.1%;
overflow: hidden;}

.addCir
{width:30%;
color:white;
background:rgba(75, 155,146,0.7);
left:-114px;
text-align: center;
padding:20px;

float:right;
margin-top:-443px;
transform:translateX(2000px);
position:relative;}

.contact
{width:100%;}

.follow
{width:101.1%;
  background-color: rgba(253,244,149,0.3);
  padding:20px;

margin:0;
position: absolute;
color:#6fc6bd;
text-align: center;
z-index:10;
box-shadow:5px 0px 5px grey ;
}

.wi
{height:auto;
max-width:100%;
width:100%;}

.follow p{width:40%;}

.co
{position: relative;
  
  transition: transform 0.5s ease;

  -webkit-transition:transform 0.5s ease;

}



.po
{position: absolute;
    top: -10px;
    left: 5px;
    z-index: -10;}


    .ho:hover .co

    {transform: rotate(180deg);

-webkit-transform:rotate(180deg); 
cursor:pointer;  }

/*************************************************Navigation Slider********************************************/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(111,198,189,0.5);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.menuButton
{color:white;
padding:5px 10px;
cursor: pointer;
font-size:30px;
background:rgb(111,198,189);}

.navMenu
{padding:20px;
  position: absolute;
  z-index:1000;
}

.drop ul li
{list-style:none;}

.menu ul
{

display:none;
position:relative;


}

.menu li:hover ul
{

  
  display:block;

}

/**********************************************Skills Page********************************************/
